.introduce-text {
  font-size: 1.2rem;
  line-height: 2;
  background: linear-gradient(to right, #ff847c, #ff6666);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
