@use '../scss/var/variable.scss' as *;

.#{$prefixCls}-nav {
  position: fixed;

  li {
    color: var(--color-text-3);
    transition: color 0.3s;
    line-height: 1.75rem;
    padding-left: 1rem;
    border-left: 1px solid var(--divider-color);

    &:hover {
      color: var(--color-text-1);
    }

    &.activeNav {
      color: var(--color-text-1);
    }
  }
}

.outline-marker {
  top: 0;
  background-color: var(--a-link-color);
  height: 1.75rem;

  transform: translateY(calc(var(--transform-top) * 1.75rem));
}

@media screen and (max-width: 1200px) {
  .#{$prefixCls}-nav {
    display: none;
  }
}
