@use '../scss/var/variable.scss' as *;

.#{$prefixCls}-nav {
  position: fixed;

  li {
    list-style: none;
    color: var(--color-text-3);
    transition: color 0.3s;
    line-height: 1.75rem;
    padding-left: 0.625rem;
    border-left: 1px solid var(--divider-color);

    &:hover {
      color: var(--color-text-1);
    }

    &.activeNav {
      color: var(--color-text-1);
    }

    &.outline-title {
      color: var(--color-text-1);
    }
  }
}

.outline-marker {
  top: 0;
  background-color: var(--a-link-color);
  height: 1.75rem;

  transform: translateY(calc(var(--transform-top) * 1.75rem));
}

.outline-title {
  line-height: 1.75rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1200px) {
  .#{$prefixCls}-nav {
    display: none;
  }
}

.cc-back {

  &>span {
    display: inline-block;
    color: var(--color-text-3);

    &:nth-child(2) {
      cursor: pointer;
      border-bottom: 1px solid currentColor;
      transition: all 0.3s;

      &:hover {
        color: var(--color-text-1);
      }
    }
  }
}