:root {
  --bg-color: rgb(248, 248, 250);
  // text color
  --color-text-1: #191919;
  --color-text-2: #6d6c6c;
  --color-text-3: #909399;

  --color-white: #fff;
  --tag-bgc-color: #f6f6f7;
  --tag-color: rgba(0, 93, 199, 0.1);
  --a-link-color: #04c994;

  --divider-color: rgba(60, 60, 67, 0.12);
  --project-bgc: rgba(245, 245, 245, 0.8);

  --shadow-1: rgb(229, 230, 235);

  --shadow-1-active: rgb(220, 223, 230);

  --tech-background-color: rgb(240, 240, 240);
}

:root.dark {
  --bg-color: rgba(17, 17, 17, 1);
  // text color dark
  --color-text-1: rgb(241, 245, 249); // 强调色
  // --color-text-2: rgb(226, 232, 240); // 普通文本色
  --color-text-2: rgb(180, 187, 187);
  --color-text-3: rgba(255, 255, 255, 0.5);
  --tag-bgc-color: #313136;
  --tag-color: rgba(255, 255, 255, 0.1); // code 背景颜色
  --a-link-color: #03c988;

  --divider-color: rgba(82, 82, 89, 0.32);
  --project-bgc: rgba(43, 43, 45, 0.8);

  --shadow-1: rgb(72, 72, 73);

  --shadow-1-active: rgb(80, 80, 80);

  --tech-background-color: rgba(255, 255, 255, 0.1);
}

html {
  color: var(--color-text-2);
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  transition: background-color 0.18s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-1);
}

.cc h1 {
  margin: 0.5em 0 0.8em;
}

@media screen and (max-width: 414px) {
  .max-blog-prose {
    width: 100%;
  }
}
