:root {
  --bg-color: #fff;
  // text color
  --color-text-1: rgb(15, 23, 42);
  --color-text-2: rgb(51, 65, 85);
  --color-text-3: #909399;

  --color-white: #fff;
  --tag-bgc-color: #f6f6f7;
  --tag-color: rgba(0, 93, 199, 0.1);
  --a-link-color: #04c994;

  --divider-color: rgba(60, 60, 67, 0.12);
  --project-bgc: rgba(245, 245, 245, 0.8);

  --shadow-1: rgb(229, 230, 235);
}

:root.dark {
  --bg-color: rgba(17, 17, 17, 1);
  // text color dark
  --color-text-1: rgb(241, 245, 249); // 强调色
  --color-text-2: rgb(226, 232, 240); // 普通文本色
  --color-text-3: rgba(255, 255, 255, 0.5);
  --tag-bgc-color: #313136;
  --tag-color: rgba(255, 255, 255, 0.1); // code 背景颜色
  --a-link-color: #03c988;

  --divider-color: rgba(82, 82, 89, 0.32);
  --project-bgc: rgba(43, 43, 45, 0.8);

  --shadow-1: rgb(72, 72, 73);
}

html {
  color: var(--color-text-2);
}

body {
  background-color: var(--bg-color);
  transition: background-color 0.18s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-1);
}

@media screen and (max-width: 414px) {
  .max-blog-prose {
    width: 100%;
  }
}
