:root {
  color-scheme: light dark;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
}

html.dark {
  background: var(--bg-color);
  color-scheme: dark;
}

.shiki-light {
  background: rgba(0, 93, 199, 0.05) !important;
}

.shiki-dark {
  background: rgba(138, 208, 255, 0.1) !important;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}

.prose {
  letter-spacing: 2px;

  pre {
    &:not(.shiki) {
      padding: 0;
    }
  }

  .shiki {
    font-family: 'DM Mono', monospace;
    font-size: 1.1em;
    border-radius: 4px;
    line-height: 1.2;
    overflow: auto;
  }

  img {
    width: 100%;
    margin-top: 0.5rem;
    cursor: zoom-in;
    transform: scale(1) translate3d(0, 0, 0);
    transition: transform 0.3s;
  }

  table {
    border-collapse: collapse;

    td {
      border: 1px solid var(--color-text-3);
    }
  }

  .shiki-container {
    margin-top: 1rem;

    & > pre {
      padding: 1rem;
      border-radius: 0.5rem;
      margin: 0 0 1rem;
    }

    @at-root {
      .shiki-container > pre {
        padding: 1em;
      }
    }
  }

  & :not(pre) > code {
    padding: 0.2rem 0.25rem;
    border-radius: 0.3rem;
    background-color: var(--tag-color);
    border: 1px solid var(--tag-color);
  }

  blockquote {
    background-color: var(--tag-color);
    padding: 0.5rem 1rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    overflow: hidden;
  }
}

ul,
ol {
  padding-left: 2em;
  line-height: 2rem;
}

p {
  margin: 0.5em 0 0;
  line-height: 2rem;

  & + p {
    margin: 0;
  }

  a {
    transition: border 0.3s;

    &:hover {
      border-color: var(--color-text-1);
    }
  }
}

a.cc-link {
  color: var(--a-link-color);
  transition: all 0.3s;
}

a.cc-link:hover {
  box-shadow: 0 1px 0 0 currentColor;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin: 1rem 0 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 1rem 0 0;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 1rem 0 0;
}

h5 {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-top: 1rem 0 0;
}
